* {
    list-style: none;
}
.titre {
    font-size: 70px;
}

#seccompteur {
    background-color: #60b8c4;
    width: 100%;
}
#container_compteur {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    background-color: var(--second-color);
    margin: 0 auto;
    text-align: center;
    padding: 1% 8%;
}

.cont1 {

    color: white !important;
    font-weight: 700%;
    margin: 0 auto;
    font-size: 32px;
}

#container_compteur .cont1:nth-child(1) {
    border-right: 3px solid white;
    text-align: center;

}

#container_compteur .cont1:nth-child(2) {
    border-right: 3px solid white;

}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;


}

.perform {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20%;
}

.perform li i {
    color: #60b8c4;
}

.stat {
    color: #60b8c4;
    font-size: 30px;
    font-weight: bolder;
}

.desc {
    line-height: 25px;
}

.modele {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
}

.modele .card {
    border-radius: 0;


}

.modele .card i {
    font-size: 30px;
    color: #60b8c4;

}

.title {
    font-size: 18px
}

.btnAjout {
    background-color: #60b8c4;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 3px 5px;
}

.event {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.eventleft {
    margin-top: 25%;
}

#image1 {
    width: 350px;
    height: 250px;
    position: relative;
    left: 38%;
}

#image2 {
    width: 350px;
    height: 250px;
    position: relative;
    top: -20%;
    left: 22%
}

#image3 {
    width: 350px;
    height: 250px;
    position: relative;
    left: 38%;
    top: -30%;
}

.temoignage {
    margin-top: -15%;
}

.botem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
}

.botem .card {
    border-radius: 0;
}

#rounded {
    border-radius: 100%;
    width: 70px;
    height: 70px;
}

/* les media queries */
@media (max-width:721px) {
    .sous_container {
            flex-direction: column;
    }

    #container_compteur {
        display: flex;
        flex-direction: column;
    }

    #container_compteur .cont1:nth-child(1) {
        border-bottom: 3px solid white;
        border-right: 0;


    }

    #container_compteur .cont1:nth-child(2) {
        border-bottom: 3px solid white;
        border-right: 0;


    }
    .about {
        display: grid;
        grid-template-columns: 1fr;
    }

    .modele,
    .event {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: -2%;
    }

    .titre {
        font-size: 35px;
    }

    .temoignage {
        margin-top: -25% !important;
    }
}

@media (max-width:512px) {
    #bien {
        margin-top: 60%;
        /* border: 1px solid red; */
    }

    .about .aboutleft img {
        width: 450px;
    }

    .botem {
        display: grid;
        grid-template-columns: 1fr;
    }
}